body {
  margin: 0;
  padding: 0;
}

body a {
  color: black;
}

body a:visited, a:hover, a:active {
  text-decoration: none;
}

ul {
  padding: 0;
}

image {
  margin: 0;
  padding: 0;
}

.fa-chevron-right {
  float: right;
  position: relative;
  bottom: -0.3em;
  left: 0.3em;
}

.button {
  margin: 5 15;
}

.li-inline {
  display: inline;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.bold {
  font-weight: bold;
}

.turqoise {
  color: #577A8A;
}

.header {
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  margin-top: 20px;
  height: 40px;
}

.proper-menu {
  overflow: hidden;
  background-color: #f0f0f0;
  width: 100%;
}

.proper-menu li {
  height: auto;
  width: auto;
  display: inline-block;
  float: left;
  border-right: solid thin;
}

.proper-menu li a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.currency-overview th, td {
  padding: 10px;
}

.currency-overview th {
  margin: none;
  border-bottom: solid thick black;
}

.currency-overview tr {
  border-bottom: solid thin #d0d0d0;
}

.currency-overview tr:last-child {
  border-bottom: solid thick black;
}

.menu {
  background-color: #f0f0f0;
  position: fixed;
  width: 100%;
}

.menu li {
  float: left;
  list-style-type: none;
  color: black;
}

.menu li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.section:hover {
  background-color: #111;
  color: white;
}

.active {
  background-color: #666666;
  color: white;
}

.main {
  padding: 16px;
  height: auto;
  width: 100%;
  margin-top: 150px;
  display: block;
  /* Used in this example to enable scrolling */
}

.logo {
  padding: 10px;
}

.col-2 {
  padding-top: 30px;
  width: 20%;
  float: left;
  height: 100%;
}

.col-3 {
  padding-top: 30px;
  width: 30%;
  float: left;
  height: 100%;
}

.col-5 {
  padding-top: 30px;
  width: 50%;
  float: left;
  height: 100%;
}

.col-5 button {
  font-size: 10px;
  font-weight: bold;
}

.col-sm-8 {
  float: right;
  width: auto;
}

.top-header-section {
  display: inline;
  padding: 10px;
  border-right: solid #f0f0f0;
  height: 30px;
  top: 30px;
}

.inline-div {
  display: inline;
  margin-left: 10px;
}

.inline-div-dark-border {
  display: inline;
  padding: 0 10px;
  border-right: solid #000000;
  border-width: thin;
}

.inline-div-dark-border a {
  text-decoration: underline;
}

.side-options td {
  padding: 0;
}

.side-options th {
  padding: 10;
}

.side-options td img {
  width: 100%;
  float: right;
}

.side-menu {
  height: auto;
  position: relative;
  float: right;
  width: 80%;
}

.vertical-menu-images {
  float: left;
  width: auto;
  position: static;
}

.vertical-menu {
  position: static;
  width: auto;
  float: left;
  border-left: solid medium #d0d0d0;
  display: inline-block;
}

.vertical-menu th {
  padding: 9px;
  padding-top: 15px;
  font-size: 15px;
  font-weight: bold;
  border-top: solid thin #d0d0d0;
}

.vertical-menu td {
  padding: 5px 10px;
  font-size: 12px;
  border-top: solid thin #d0d0d0;
}

.vertical-menu active a {
  color: #ffffff;
}

.row-info-right {
  float: right;
}

.user-view-functions {
  overflow: hidden;
  background-color: #f0f0f0;
  margin: 2vw 0;
  height: auto;
  width: 100%;
}

.user-view-functions li {
  list-style-type: none;
  display: inline-block;
  height: auto;
  float: left;
  padding: 1em 1.5em;
  border-right: solid thin #e0e0e0;
}

.user-view-functions li a {
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}

#equity-information {
  border-spacing: 50px;
}

#equity-information tr:last-child {
  border-bottom: solid medium black;
}

#equity-information td, th {
  padding: .5vw;
  line-height: 3vw;
}

#equity-information th {
  border-bottom: solid medium black;
}

#equity-information th:last-child {
  text-align: left;
}

#equity-information td {
  border-bottom: solid thin #d0d0d0;
}

#equity-information td:first-child, th:first-child {
  text-align: left;
}

#equity-information th:last-child {
  text-align: left;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.oval {
  float: right;
  height: auto;
  width: auto;
  padding: .5vw .5vw;
  font-size: 14px;
  color: white;
  border-radius: .5vw;
  line-height: normal;
  display: inline-block;
}

.background-gray {
  background-color: #b0b0b0;
}

.background-turqoise {
  background-color: #577A8A;
}

.background-maroon {
  background-color: #894D42;
}

.search-container {
  float: right;
  border-bottom-style: solid;
  width: 70%;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 3px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 0;
  margin-top: 3px;
  background: inherit;
  font-size: 17px;
  border: none;
  cursor: pointer;
  float: right;
}

.search-container button:hover {
  background: #aaa;
}

.side-display {
  position: static;
  width: 95%;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
  float: right;
}

.side-display table {
  float: right;
  margin: 10px 0;
  margin-bottom: 20px;
  width: inherit;
  height: inherit;
}

.side-display table tr {
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #d0d0d0;
  width: inherit;
}

.side-display table tr:last-child {
  border-bottom-width: medium;
  border-color: black;
}

.side-display table td {
  font-size: 13px;
  float: right;
  width: inherit;
  padding: 5px 0px;
  padding-left: 18px;
}

.side-display table td:first-child {
  float: left;
  width: 40%;
  padding-left: 0px;
}

.side-display table td img {
  position: relative;
  top: -2px;
}

.side-display-dropdown-menu {
  background-color: #f0f0f0;
  width: inherit;
  float: right;
}

.side-display-dropdown-menu li {
  float: inherit;
  list-style-type: none;
  color: black;
  background-color: white;
  border-left-style: solid;
  border-left-width: thin;
  vertical-align: middle;
}

.side-display-dropdown-menu li:first-child {
  float: left;
  border-style: none;
  padding-left: 0px;
}

.side-display-dropdown-menu li a {
  display: inline-block;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.side-display-menu {
  background-color: #f0f0f0;
  overflow: hidden;
  height: 3em;
  width: inherit;
  float: right;
}

.side-display-menu li {
  float: right;
  height: 3em;
  list-style-type: none;
  color: black;
  border-left: solid thin #e0e0e0;
  vertical-align: middle;
}

.side-display-menu li:first-child {
  float: left;
  border-style: none;
  padding-left: 0px;
}

.side-display-menu li a {
  position: relative;
  top: 0.5em;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.side-display-menu li a:hover, a:focus {
  color: black;
}

.side-display-news {
  font-size: 12px;
}

.side-display-news table td:first-child {
  width: 100%
}

.side-display-news table tr {
  border-bottom: solid thin #f0f0f0;
}

.side-display-news table tr:last-child {
  border-bottom: solid medium black;
}

#footer {
  overflow: hidden;
  width: 100%;
  display: block;
  border: solid thin black;
}

#footer-content {
  border-top: solid thin #d0d0d0;
  padding-top: 2em;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

#ubs-info {
  float: left;
  margin: 15px;
}